<div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Tu vehículo</h5>
                    </div>
                    <div class="panel-body">
                        <form class="form" novalidate name="vehiculoForm"> 
                            <div class="row">
                                <div class="col-md-12 form-group" ng-class="{'has-error': vehiculoForm.nombre.$dirty && vehiculoForm.nombre.$invalid}">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control input-sm" ng-model="vehiculo.nombre" name="nombre" placeholder="Camión pequeño" required>
                                    <span ng-show="vehiculoForm.nombre.$dirty && vehiculoForm.nombre.$error.required" class="help-block">Debe ingresar el nombre del vehículo.</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group" ng-class="{'has-error': vehiculoForm.volumen.$dirty && vehiculoForm.volumen.$invalid}">
                                    <label>Capacidad (lt)</label>
                                    <input type="number" class="form-control input-sm" ng-model="vehiculo.volumenMaximo" name="volumen" placeholder="12.000" required>
                                    <span ng-show="vehiculoForm.volumen.$dirty && vehiculoForm.volumen.$error.required" class="help-block">Debe ingresar la capacidad del vehículo.</span>
                                    <span ng-show="vehiculoForm.volumen.$dirty && vehiculoForm.volumen.$error.number" class="help-block">Debe ingresar un valor válido.</span>
                                </div>
                                <div class="col-md-6 form-group" ng-class="{'has-error': vehiculoForm.peso.$dirty && vehiculoForm.peso.$invalid}">
                                    <label>Peso (kg)</label>
                                    <input type="number" class="form-control input-sm" ng-model="vehiculo.pesoMaximo" name="peso" placeholder="2.000" required>
                                    <span ng-show="vehiculoForm.peso.$dirty && vehiculoForm.peso.$error.required" class="help-block">Debe ingresar el peso que soporta el vehículo.</span>
                                    <span ng-show="vehiculoForm.peso.$dirty && vehiculoForm.peso.$error.number" class="help-block">Debe ingresar un valor válido.</span>
                                </div>
                            </div>
                            <button type="submit" ng-hide="vehiculo !== null && vehiculoForm.$pristine" ng-click="guardarVehiculo()" class="pull-right btn btn-success btn-sm">{{botonVehiculo}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Listado de proximos fletes-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>Próximos fletes</h5>
                    </div>

                    <div class="list-group" ng-repeat="flete in listadoFletes">
                        <a href='' class="list-group-item" ng-click="seleccionarFlete(flete)">{{flete.nombre}} {{flete.apellido}} - {{flete.fecha | date :  "dd/MM HH:mm" }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin listado de proximos fletes-->
    </div>


    <div class="col-md-9 col-sm-12">

        <!--Mapa para mostrar fletes-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fletapp-map opciones="opcionesMapa" geo-objeto="null"></fletapp-map>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin mapa para mostrar fletes-->

        <!--Informacion del flete-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Detalle del flete</h3>
                    </div>
                    <div ng-if="fleteSeleccionado" class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="text-center"><strong>Nombre:</strong> {{fleteSeleccionado.nombre}} {{fleteSeleccionado.apellido}}</p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-center"><strong>A cobrar:</strong> ${{fleteSeleccionado.precioFinal}}</p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-center"><strong>Peso:</strong> {{fleteSeleccionado.peso}}kg</p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-center"><strong>Volumen:</strong> {{fleteSeleccionado.volumen}}lt</p>
                            </div>
                            <div class="col-md-3">
                                <p class="text-center"><strong>Fecha:</strong> {{fleteSeleccionado.fecha | date :  "dd/MM/yyyy HH:mm"}}</p>
                            </div>
                        </div>
                        <div class="row">
                            
                        </div>
                    </div>
                    <div ng-hide="fleteSeleccionado" class="panel-body">
                        <p class="text-center">Seleccione un flete</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin informacion del flete-->

    </div>
</div>

<div id="agregarVehiculoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bienvenido a Fletapp</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12">
                        <p class="text-center">Para comenzar, ingresa los datos de tu vehículo, en el formulario que se encuentra
                            en la parte superior izquierda de esta página.
                            <br><br>Sin un vehículo <strong>no prodrás aceptar trabajos</strong>.
                            <br><br>Estos datos los puedes modificar más tarde.</p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>

<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">{{mensaje}}</h3>
            </div>
        </div>
    </div>
</div>


