<div id="map" class="map" style="height:274px;"></div>
<div>
    <button type="button" class="btn btn-success btn-xs"ng-click="funcionInicio()" ng-show="opciones.tipo === 'solicitudFlete' && opciones.ptoInicio == null">Origen</button>
    <button type="button" class="btn btn-warning btn-xs"ng-click="funcionFin()" ng-show="opciones.tipo === 'solicitudFlete' && opciones.ptoFin == null">Destino</button>
    <button type="button" class="btn btn-success btn-xs"ng-click="funcionZona()" ng-show="opciones.tipo === 'zonasDeTrabajo' && opciones.zonaSeleccionada === null">Dibujar zona</button>
</div>