<div class='row'> 
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <form name="loginForm" novalidate>
            <h3><p class="text-center"> Iniciar Sesión</p></h3>
            <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine, 'has-success' : loginForm.email.$valid && !loginForm.email.$pristine}">
                <input type="email" name="email" class="form-control"  placeholder="Email" ng-model="usuario.email" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" ng-model="usuario.password" required autofocus>
            </div>
            <button class="btn btn-success btn-block" ng-disabled="loginForm.$invalid" ng-click="login()">Iniciar Sesión</button>
        </form> 
    </div>    
</div>    