<div class="row">

    <!--Listado de fletes-->
    <div class="col-md-4 col-sm-12">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="datepicker1">
                                        <div class="input-group">
                                            <input data-date-time-input="DD-MM-YYYY" type="text" class="form-control" ng-model="fechaDesde" placeholder="Desde"/>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" id="datepicker1">
                                        <datetimepicker name="fechaDesde" ng-model="fechaDesde" data-datetimepicker-config="fechaConfig" required="true" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="datepicker2">
                                        <div class="input-group">
                                            <input data-date-time-input="DD-MM-YYYY" type="text" class="form-control" ng-model="fechaHasta" placeholder="Hasta"/>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" id="datepicker2">
                                        <datetimepicker name="fechaHasta" ng-model="fechaHasta" data-datetimepicker-config="fechaConfig" required="true" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                            <div class="col-md-12">
                                <button type="submit"  ng-click="buscarFletes()" class="btn btn-success btn-sm">Buscar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Fletes realizados</h4>
            </div>

            <div class="list-group" ng-repeat="flete in listadoRealizados">
                <a href='' class="list-group-item" ng-click="seleccionarFlete(flete)">{{flete.nombre}} - {{flete.fecha | date :  "dd/MM/yyyyHH:mm"}} - {{flete.estado}}</a>
            </div>

            <div class="panel-heading">
                <h4>Fletes Pendientes</h4>
            </div>
            <div class="list-group" ng-repeat="flete in listadoPendientes">
                <a href='' class="list-group-item" ng-click="seleccionarFlete(flete)">{{flete.fecha | date :  "dd/MM/yyyy HH:mm"}} - {{flete.estado}}</a>
            </div>
        </div>


    </div>

    <div class="col-md-8 col-sm-12">

        <!--Mapa del flete-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fletapp-map opciones="opcionesMapa" geo-objeto="geoPuntos"></fletapp-map>
                    </div>
                </div>
            </div>
        </div>
        <!--DATOS DEL FLETE-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Datos del flete</h2>
                    </div>
                    <div ng-if="fleteSeleccionado" class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="text-center">Fecha: {{fleteSeleccionado.fecha | date :  "dd/MM/yyyy HH:mm"}}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center">Volumen: {{fleteSeleccionado.volumen}}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center">Peso: {{fleteSeleccionado.peso}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="text-center">Precio: {{fleteSeleccionado.precioFinal}}</p>
                            </div>
                            <div class="col-md-8">
                                <p ng-hide="fleteSeleccionado.estado==='Solicitado'" class="text-center">Fletero: {{fleteSeleccionado.nombre}} {{fleteSeleccionado.apellido}}</p>
                                <p ng-show="fleteSeleccionado.estado==='Solicitado'" class="text-center">Fletero: El flete hasta el momento, no ha sido aceptado.</p>
                            </div>
                        </div>
                        <div class="row" ng-if="fleteSeleccionado.estado!=='Solicitado'">
                            <hr>
                            <div class="col-md-4">
                                <h4 class="text-center">Calificación</h4>
                            </div>
                            <jk-rating-stars class="col-md-4" max-rating="5" rating="fleteSeleccionado.puntuacion" on-rating="cambiarPuntuacion(rating)"></jk-rating-stars>
                            <div class="col-md-3 col-md-offset-1">
                                <button type="button" ng-disabled="fleteSeleccionado.puntuacion === 0" ng-click="puntuarFlete()" class="btn btn-success btn-sm">Calificar</button>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="fleteSeleccionado" class="panel-body">
                        <p class="text-center">Seleccione un flete</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">{{mensaje}}</h3>
            </div>
        </div>
    </div>
</div>