<div class='row'> 
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
        <form name="registroForm" ng-submit="submitForm(registroForm.$valid)" novalidate>
            <h3><p class="text-center">Registrate</p></h3>   
            <div class="form-group" ng-class="{ 'has-error' : registroForm.email.$invalid && !registroForm.email.$pristine, 'has-success' : registroForm.email.$valid && !registroForm.email.$pristine}">
                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="usuario.email" required>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registroForm.nombre.$invalid && registroForm.nombre.$touched, 'has-success' : registroForm.nombre.$valid && !registroForm.nombre.$pristine}">
                <input type="text" name="nombre" class="form-control" placeholder="Nombre" ng-model="usuario.nombre" required>
             </div>
            <div class="form-group" ng-class="{ 'has-error' : registroForm.apellido.$invalid && registroForm.apellido.$touched, 'has-success' : registroForm.apellido.$valid && !registroForm.apellido.$pristine}">
                <input type="text" name="apellido" class="form-control" placeholder="Apellido" ng-model="usuario.apellido" required>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" placeholder="Teléfono" ng-model="usuario.telefono">
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registroForm.password.$invalid && !registroForm.password.$pristine, 'has-success' : registroForm.password.$valid && !registroForm.password.$pristine}">
                <input type="password" id = "password" name="password" class="form-control" placeholder="Contraseña" ng-model="usuario.password" ng-minlength="8" required>
            </div>
            <div class="alert alert-danger" ng-hide="registroForm.password.$valid || registroForm.password.$invalid && !registroForm.password.$touched"  role="alert">
            *La contraseña debe tener al menos 8 caracteres.
            </div>
            <div class="form-group" ng-class="{'has-success' : !registroForm.pass2.$error.passmatch && !registroForm.pass2.$pristine}">
                <input type="password" id="pass2" name="pass2" class="form-control" placeholder="Confirmar Contraseña" ng-model="pass2" required pass-check="password">
            </div>
            <div class="alert alert-danger" ng-show="registroForm.pass2.$error.passmatch && registroForm.pass2.$touched"  role="alert">
            *Las contraseñas no coinciden.
            </div>
            <button type="submit" class="btn btn-success btn-block" ng-disabled="registroForm.$invalid" ng-click="registro()">Registrarme</button>

        </form> 
        <div class="alert-success" ng-if="mensaje">{{mensaje}}</div>
    </div>    
</div>    