<div class="row">
    <!--Formulario para solicitar flete-->
    <div class="col-md-3 col-sm-12">
        <!--zonas de trabajo-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Zonas de trabajo</h4>
            </div>
            <div class="list-group" ng-repeat="zona in zonasDeTrabajo">
                <a href='' class="list-group-item" ng-click="seleccionarZona(zona)">{{zona.nombre}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <!--Formulario con el precio a cobrar en la zona de trabajo-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form novalidate name="zonaForm" class="form-inline">                           
                           <div class="col-md-4">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="datepicker1">
                                        <div class="input-group">
                                            <input data-date-time-input="DD-MM-YYYY" type="text" class="form-control" ng-model="fechaDesde" placeholder="Desde"/>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" id="datepicker1">
                                        <datetimepicker name="fechaDesde" ng-model="fechaDesde" data-datetimepicker-config="fechaConfig" required="true" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="datepicker2">
                                        <div class="input-group">
                                            <input data-date-time-input="DD-MM-YYYY" type="text" class="form-control" ng-model="fechaHasta" placeholder="Hasta"/>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" id="datepicker2">
                                        <datetimepicker name="fechaHasta" ng-model="fechaHasta" data-datetimepicker-config="fechaConfig" required="true" />
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-default" ng-click="obtenerSolicitudesPendientes()">Buscar</button>                          
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Mapa-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fletapp-map opciones="opcionesMapa" geo-objeto="geoPuntos"></fletapp-map>
                    </div>
                </div>
            </div>
        </div>

        <!--Formulario para solicitar flete-->
        <div class="col-md-9 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Solicitudes pendientes</h4>
                </div>
                <div class="list-group" ng-repeat="solicitud in solicitudesPendientes">
                    <a href='' class="list-group-item col-md-8"> {{solicitud.nombre}} {{solicitud.apellido}} - {{solicitud.fechaHora  | date :  "dd/MM HH:mm"}} </a>
                    <button type="submit" class="btn btn-default col-md-4 right" ng-click="aceptarFlete(solicitud)">Aceptar Flete</button> 
                </div>           
            </div>
        </div>      
    </div>
</div>

   