<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="headerCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button"  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <a class="navbar-brand" href="{{homeLink}}">Fletapp</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-menu">
            <ul class="nav navbar-nav">
                <!--<li><a href="#/openLayer">OpenLayer</a></li>-->

                <!--Opciones que solo ve el cliente-->
                <li ><a href="#/clienteHistorial" ng-show="user && user.tipo === 'cliente'">Historial</a></li>
                <!--Opciones que solo ve el fletero-->
                <li ><a href="#/solicitudesPendientes" ng-show="user && user.tipo === 'fletero'">Solicitudes pendientes</a></li>
                <li><a href="#/zonasDeTrabajo" ng-show="user && user.tipo === 'fletero'">Zonas de trabajo</a></li>
                <li><a href="" ng-show="user && user.tipo === 'fletero'">Reportes</a></li>
            </ul>

            
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text" ng-show="user">Bienvenido {{user.nombre}} {{user.apellido}}</p></li>
                <li><a href="#" ng-click="salir()" ng-show="user">Salir</a></li>
            </ul>
        </div>
    </div>
</div>