<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-12 text-center">
                    <h2 class="text-center">¿Precisas un flete?</h2>
                    <br>
                    <p>Estás en el lugar correcto, bienvenido a Fletapp. 
                        <br>Ingresa a nuestro sitio, completa con unos simples datos, selecciona el origen y el destino y listo!</p>
                    <br>
                    <a href="#/clienteHome" role="button" class="btn btn-primary btn-warning">Solicitar Ya!</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-2 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="text-center">¿Sos un fletero?</h2>
                <br>
                <p class="text-center">Ingresa para marcar en que zonas de Montevideo trabajas, para buscar y para aceptar nuevos fletes</p>
                <br>
                <div class="col-12 text-center">
                    <a href="#/login/Fletero" role="button" class="btn btn-danger">Ingresar</a>
                    <a href="#/registro/Fletero">o registrate aquí</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="text-center">¿Ya tenés usuario?</h2>
                <br>
                <div class="col-12 text-center">
                    <p>Puedes ingresar a continuación para solicitar más fletes o consultar y puntuar fletes pasados</p>
                    <br>
                    <a href="#/login/Cliente" role="button" class="btn btn-primary">Ingresar</a>
                    <a href="#/registro/Cliente">o registrate aquí</a>
                </div>
            </div>
        </div>
    </div>
</div>
