<div class="row">

    <!--Formulario para solicitar flete-->
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Zonas de trabajo</h4>
            </div>
            <div class="list-group" ng-repeat="zona in zonasDeTrabajo">
                <a href='' class="list-group-item" ng-click="seleccionarZona(zona)">{{zona.nombre}}</a>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default" type="submit" ng-click="nuevaZona()">Nueva</button>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-12">

        <!--Mapa para marcar las zonas de trabajo-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fletapp-map opciones="opcionesMapa" geo-objeto="geoZonaDeTrabajo"></fletapp-map>
                    </div>
                </div>
            </div>
        </div>

        <!--Formulario con el precio a cobrar en la zona de trabajo-->
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <form ng-show="zonaDeTrabajo.id === null" novalidate name="zonaForm" class="form-inline">
                            <!--Nombre-->
                            <div class="form-group">
                                <label>Nombre</label>
                                <input name="nombre" type="text" ng-model="zonaDeTrabajo.nombre" class="form-control" placeholder="Nombre" required>
                                <span ng-show="zonaForm.nombre.$dirty && zonaForm.nombre.$error.required" class="help-block">Debe ingresar el nombre.</span>
                            </div>

                            <!--Precio-->
                            <div class="form-group">
                                <label>Precio ($U)</label>
                                <input name="precio" type="number" ng-model="zonaDeTrabajo.precio" class="form-control" placeholder="Precio" required>   
                                <span ng-show="zonaForm.precio.$dirty && zonaForm.precio.$error.required" class="help-block">Debe ingresar el precio a cobrar.</span>
                                <span ng-show="zonaForm.precio.$dirty && zonaForm.precio.$error.number" class="help-block">Debe ingresar un precio válido.</span>
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="guardar()" ng-show="zonaDeTrabajo.id === null">Guardar</button>
                        </form>
                        <div ng-show="zonaDeTrabajo.id !== null">
                            <label class="col-md-6"> Nombre: {{zonaDeTrabajo.nombre}} </label>
                            <label class="col-md-6"> Precio ($U): {{zonaDeTrabajo.precio}} </label>
                        </div> 
                        <span ng-show="zonaForm.$pristine && zonaForm.$invalid && zonaForm.$submitted" class="help-block">Complete el formulario</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">{{mensaje}}</h3>
            </div>
        </div>
    </div>
</div>



