<div id="map" class="map"></div>
<input type="button" value="Inicio" ng-click="funcionInicio('Point')"/>
<input type="button" value="Fin" ng-click="funcionFin()"/>
<input type="button" value="Cargar" ng-click="funcionGuardar()"/>
