<div class="row">

    <!--Formulario para solicitar flete-->
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form novalidate name="fleteForm">

                    <!--El input en el caso de la fecha es ilustrativo, la directiva datetimepicker es la que maneja los datos-->
                    <div class="form-group" ng-class="{'has-error': fleteForm.fechaHora.$dirty && fleteForm.fechaHora.$invalid}">
                        <label>Fecha</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="datepicker">
                                <div class="input-group">
                                    <input data-date-time-input="DD-MM-YYYY hh:mm" type="text" class="form-control" ng-model="flete.fechaHora" />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" id="datepicker">
                                <datetimepicker name="fechaHora" ng-model="flete.fechaHora" data-datetimepicker-config="fechaConfig" required="true" />
                            </ul>
                            <span ng-show="fleteForm.fechaHora.$dirty && fleteForm.fechaHora.$invalid" class="help-block">Debe ingresar una fecha correcta.</span>
                        </div>
                    </div>

                    <!--Volumen-->
                    <div class="form-group" ng-class="{'has-error': fleteForm.volumen.$dirty && fleteForm.volumen.$invalid}">
                        <label>Volumen (lt)</label>
                        <input ng-blur="obtenerDatosGeograficos()" name="volumen" type="number" ng-model="flete.volumen" class="form-control" placeholder="Ejemplo: 80" required>
                        <span ng-show="fleteForm.precioSolicitado.$dirty && fleteForm.precioSolicitado.$error.required" class="help-block">Debe ingresar el volumen del flete.</span>
                        <span ng-show="fleteForm.precioSolicitado.$dirty && fleteForm.precioSolicitado.$error.number" class="help-block">Debe ingresar un valor válido.</span>
                    </div>

                    <!--Peso-->
                    <div class="form-group" ng-class="{'has-error': fleteForm.peso.$dirty && fleteForm.peso.$invalid}">
                        <label>Peso (kg)</label>
                        <input ng-blur="obtenerDatosGeograficos()" name="peso" type="number" ng-model="flete.peso" class="form-control" placeholder="Ejemplo: 50" required>
                        <span ng-show="fleteForm.precioSolicitado.$dirty && fleteForm.precioSolicitado.$error.required" class="help-block">Debe ingresar el peso del flete.</span>
                        <span ng-show="fleteForm.precioSolicitado.$dirty && fleteForm.precioSolicitado.$error.number" class="help-block">Debe ingresar un peso válido.</span>
                    </div>

                    <!--Precio-->
                    <div class="form-group" ng-class="{'has-error': fleteForm.precioSolicitado.$dirty && fleteForm.precioSolicitado.$invalid}">
                        <label>Precio máximo ($U)</label>
                        <input name="precioSolicitado" type="number" ng-model="flete.precioSolicitado" class="form-control" placeholder="Precio máximo" required>
                        <span ng-show="fleteForm.precioSolicitado.$dirty && fleteForm.precioSolicitado.$error.required" class="help-block">Debe ingresar el precio máximo a pagar.</span>
                        <span ng-show="fleteForm.precioSolicitado.$dirty && fleteForm.precioSolicitado.$error.number" class="help-block">Debe ingresar un precio válido.</span>
                    </div>

                    <!--Submit-->
                    <div class="form-actions">
                        <button type="submit" ng-hide="usuario === null" class="btn btn-default" ng-click="solicitarFlete()">Solicitar</button>
                        <button type="submit" ng-show="usuario === null" class="btn btn-default" ng-click="solicitarFlete('login')">Login</button>
                        <button type="submit" ng-show="usuario === null" class="btn btn-default" ng-click="solicitarFlete('registro')">Registro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-12">

        <!--Mapa para marcar origen y destino del flete-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fletapp-map opciones="opcionesMapa" geo-objeto="geoPuntos"></fletapp-map>
                    </div>
                </div>
            </div>
        </div>

        <!--Lista de fleteros que trabajan en la zona-->
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fleteros que trabajan en la zona</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Nombre</th>
                                <th>Vehiculo</th>
                                <th>Costo</th>
                            </tr>
                            <tr ng-repeat="fletero in fleteros">
                                <td>{{fletero.nombre}}</td>
                                <td>{{fletero.vehiculo}}</td>
                                <td>{{fletero.costo}}</td>
                            </tr>
                        </table>
                        <div class="row" ng-if="fleteros == null">
                            <div class="col-md-12">
                                <p class="text-center">Marque el punto de origen y destino del flete</p>
                            </div>
                        </div>
                        <div class="row" ng-if="fleteros.length === 0">
                            <div class="col-md-12">
                                <p class="text-center">No encontramos fleteros que trabajen en la zona <br> y/o que puedan transportar el volumen y el peso indicados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="successModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center">{{mensaje}}</h3>
            </div>
        </div>
    </div>
</div>



